<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%include ../partials/css %>
</head>

<body>
    <div class="container">
        <%include ../partials/nav %>
            <div class="row">
                <div id="sidebar" class="col-sm-2">
                    <img class="img-fluid" src="/img/kulturhus.jpg">
                    <h2>Nyheder</h2>
                    <%if (data != [] && data != undefined){%>
                        <% data.forEach((element)=>{%>
                            <div class="col-sm-12">

                                <h2>
                                    <%= element.name%>
                                </h2>
                                <p>
                                    <%=element.category%>
                                        <%=element.name%>
                                            starter den
                                            <%=element.time%>

                                </p>
                                <a href="/adminedit/<%=element.id%>">edit
                                </a>
                            </div>
                            <%})}%>
                </div>
                <div class="col-sm-8">
                    <input type="date" id="date">
                    <a href="/admincreate">opret event</a>
                    <div id="myDiv"></div>
                </div>
            </div>
    </div>
    <%include ../partials/js %>
        <script src="/js/datefetcher.js"></script>
</body>

</html>