<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%include ../partials/css %>
</head>

<body>
    <div class="container">
        <%include ../partials/nav %>
            <h1>Søg resultater</h1>


            <%if (data.length != 0){%>
                <% data.forEach((element)=>{%>
                    <div class="col-xs-12" id="containerDiv">
                        <div>
                            <img src="/img/<%=element.category%>.png">
                        </div>
                        <div>
                        <h2>
                            <%= element.name%>
                        </h2>
                        <p>
                            <%=element.category%>
                                <%=element.name%>
                                    starter den
                                    <%=element.time%> i
                                        <%= element.location%>
                                            varighed
                                            <%=element.duration%>min og vil koste
                                                <%=element.price%>Kr.
                        </p>
                        <a href="/order/<%=element.id%>">bestil</a>
                    </div>
                    </div>
                    <%})}else{%>
                        <h1>Der var ikke fundet noget!</h1>
                        <%}%>

                            <%include ../partials/js %>
    </div>
</body>

</html>